* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin: 0px;
  }