.audiocall-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70vh;
}

@media(max-width: 780px) {
  .game__process {
    margin-top: 12%;
  }
}

@media(max-width: 600px) {
  .game__process {
    margin-top: 43%;
  }
}