.autorization-wrapper {
    margin-top: 7%;
    margin-bottom: 10%;
}

.section_authorization h2 {
    font-size: 4rem;
    margin-top: 4%;
    margin-bottom: 4%;
}

.section_authorization {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 15%;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid gray;
    background: #f5a329;
    padding: 10px;
    position: relative;
    text-align: center;
  
    div {
      position: relative;
      width: 100%;
    }
    
    .email__input,
    .password__input {
      width: 80%;
      height: 42px;
      border-radius: 5px;
      padding: 0px 10px;
      font-size: 2.5rem;
    }
  
    .email__span,
    .password__span {
      position: absolute;
      left: 12%;
      top: -11px;
      font-size: 10px;
      background-color: white;
      padding: 0px 5px;
    }
  
    .section__massage {
      font-size: 12px;
    }
  
    .section__buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 5%;
    }
  
    .button {
      width: 35%;
      height: 40px;
      border-radius: 5px;
      font-size: 2rem;
      padding: 1%;
      cursor: pointer;
      
    }
  
    div.section__spinner {
      position: absolute;
      width: 80px;
      top: calc(50% - 40px);
      z-index: -1;
      display: flex;
      justify-content: center;
      
      &.disable {
        z-index: 1;
        opacity: 1;
      }
    }
  }
  
  .disable {
    pointer-events: none;
    opacity: 0.5;
  }

  @media(max-width: 1860px) {
    .section_authorization {
      width: 22%;
    }
  }

  @media(max-width: 1420px) {
    .section_authorization {
      width: 26%;
    }

    .section_authorization .button {
      width: 41%;
    }

    .section_authorization .email__span, .section_authorization .password__span {
      font-size: 1.6rem;
    }
  }

  @media(max-width: 1200px) {
    .section_authorization .button {
      font-size: 1.7rem;
  }
  .section_authorization .email__span, .section_authorization .password__span {
    font-size: 1.4rem;
}
}

@media(max-width: 1100px) {
  .section_authorization {
    width: 31%;
}
}

@media(max-width: 920px) {
  .section_authorization h2 {
    font-size: 3rem;
  }

  .section_authorization .button {
    font-size: 1.5rem;
}

.section_authorization .email__span, .section_authorization .password__span {
  font-size: 1.2rem;
}


}

@media(max-width: 820px) {
  .section_authorization {
    width: 38%;
}
}

@media(max-width: 680px) {
  .section_authorization {
    width: 44%;
}
}

@media(max-width: 580px) {
  .section_authorization {
    width: 52%;
}

.section_authorization .email__span, .section_authorization .password__span {
  font-size: 1rem;
}

.section_authorization .button {
  font-size: 1.4rem;
}
}