.developers-wrapper {
    width: 100%;
    margin-bottom: 3%;
    margin-top: -4%;
}

.developers {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.developers-wrapper h2 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 1%;
    font-family: cursive;
    text-shadow: 5px 5px 6px #604513;
    color: #f5a329;
}

.developer {
    width: 25%;
}

.developer0, .developer1, .developer2 {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.developers img {
    transition: 1.7s; 
    border-radius: 180px;
    -webkit-border-radius: 100%;
    -moz-box-shadow: 0px 6px 0px rgba(187, 141, 141, 0.8);
    box-shadow: 1px 14px 14px 10px rgb(195 185 172), 0 0px 4px 2px rgb(231 230 217 / 20%), 0 4px 8px 4px rgb(0 0 0 / 15%), 0 4px 16px 27px #d7c48f;
}

.developers img:hover {
    transform: scale(1.1);
}

.developer {
    text-align: center;
}

.developer h3 {
    font-size: 3rem;
    margin-top: 10%;
    margin-bottom: 2%;
    font-family: cursive;
    text-align: center;
    color: #f5a329;
}

.developer p {
    font-size: 2.4rem;
    text-align: center;
    font-family: cursive;
}


@media (max-width: 1600px) {
    .developer0, .developer1, .developer2 {
        width: 260px;
        height: 260px;
    }

    .developer p {
        font-size: 2.3rem;
    }
}


@media (max-width: 1480px) {
    .developers-wrapper h2 {
        margin-top: 0px;
    }

    .developer h3 {
        font-size: 3rem;
    } 

}

@media (max-width: 1200px) {
    .developers-wrapper h2 {
        font-size: 5rem;
        margin-bottom: 5%;
        margin-top: 2%;
        }

    .developer0, .developer1, .developer2 {
        width: 240px;
        height: 240px;
    }

    .developer h3 {
        font-size: 2.4rem;
        margin-bottom: 4%;
    }

    .developer p {
        font-size: 1.8rem;
    }
}

@media (max-width: 980px) {
    .developers-wrapper h2 {
        font-size: 4rem;
        margin-bottom: 6%;
    }

    .developers {
        display: block;
    }

    .developer {
        margin: auto;
        width: 100%;
        margin-bottom: 9%;
    }
    
    .developer h3 {
        margin-top: 6%;
    }

    .developer0, .developer1, .developer2 {
        width: 220px;
        height: 220px;
    }
}

@media (max-width: 600px) {
    
    .developers-wrapper h2 {
      margin-bottom: 8%;
        font-size: 3.8rem;
    }

    .developer0, .developer1, .developer2 {
        width: 160px;
        height: 160px;
    }

    .developer h3 {
        font-size: 2.4rem;
    }

    .developer p {
        font-size: 1.9rem;
    }
}

@media (max-width: 380px) {
    .developers-wrapper h2 {
       margin-bottom: 13%;
       font-size: 3.5rem;
    }

    .developer1, .developer2 {
        margin-top: 5%;
    }

    .developer h3 {
        font-size: 2.2rem;
    }

    .developer p {
        font-size: 1.8rem;
    }
}

@media (max-width: 280px) {
    .developers-wrapper h2 {
        margin-bottom: 15%;
        font-size: 3.4rem;
     }

     .developer0, .developer1, .developer2 {
        width: 145px;
        height: 145px;
    }

    .developer h3 {
        font-size: 2.2rem;
    }

    .developer p {
        font-size: 1.7rem;
    }
}
