.textbook-wrapper {
width: 100%;
}

.cards-block {
width: 90%;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.card{
    width: 20%;
    background-size: cover;
    margin: 40px;
    padding: 1%;
    color: #000;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 30%), 0 2px 4px 1px rgb(0 0 0 / 25%), 0 2px 8px 2px rgb(0 0 0 / 20%), 0 4px 16px 4px rgb(0 0 0 / 15%);
    transition: box-shadow .3s;
}

.card h2 {
    font-size: 4.5rem;
}

.word-block {
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
}

.cards-all-learning {
    background-color: #f5a329;
    border: 2px solid gray;
    border-radius: 10px;
}

.word-block-rgba {
    width: 100%;
    height: 100%;
    padding: 20px 20px 10px;
    box-sizing: border-box;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background: linear-gradient(transparent, rgb(96, 79, 47));
    background: rgba(100%, 100%, 100%, 0.2);
}

.word-title {
    margin-top: auto;
    margin-bottom: 3%;
}

.word {
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    align-items: center;
    font-weight: bold;
 
}

.audio {
    cursor: pointer;
}

.example-block {
     display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 10px 15px 15px;
    width: 100%;
    box-sizing: border-box;
}

.text-example {
    font-size: 3rem;
    margin-top: 4%;
    margin-bottom: 6%;
    border-bottom: 2px solid black;
    text-align: right;
}

.text-example-one {
    margin-bottom: 3%;
}

.example-translate {
    font-size: 2.5rem;
    text-align: right;
}

.example-translate-one {
    margin-bottom: 2%;
}

.pagination-wrapper {
    width: 90%;
    margin: auto;
}

.cat-wrapper {
    display: flex;
    justify-content: space-between;
    width: 36%;
    margin: 2% auto;
}

.category0, 
.category1, 
.category2, 
.category3, 
.category4, 
.category5,
.category6 {
    cursor: pointer;
    font-size: 3rem;
    border: 2px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #f5a329;
    text-shadow: 0px 2px 0px rgb(209 151 51 / 30%);
    font-size: 22px;
    overflow: hidden;
    display: block;
    text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 0px rgba(168, 116, 116, 0.8);
  -moz-box-shadow: 0px 6px 0px rgba(187, 141, 141, 0.8);
  box-shadow: 6px 8px 6px rgb(104 75 21 / 80%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.category0, 
.category1, 
.category2, 
.category3, 
.category4, 
.category5 {
    width: 58px;
    height: 58px;
}

.category6 {
    width: 175px;
    height:58px;
    
}

.category:hover {
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
         background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
         background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
         background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    }
    
    .navigation-wrapper a:active {
    color: rgb(66, 36, 23);
    }

.pages-wrapper {
    display: flex;
    font-size: 40px;
    margin: auto;
    width: 15%;
}

.pages-wrapper div {
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.add-word { 
display: flex;
margin-top: auto;
}

.add-word input {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.add-word input:hover::after {
    content: attr(data-title-word); 
    position: absolute; 
    font-size: 2rem;
   
   }

.hard-word {
margin-right: 50%;
}

.hard-word:hover::after {
    margin-left: -6%;
}

.learn-word:hover::after {
     margin-left: 2%;
}

.trening select {
    width: 175px;
    height: 57px;
    cursor: pointer;
    font-size: 3rem;
    border: 2px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #f5a329;
    text-shadow: 0px 2px 0px rgb(209 151 51 / 30%);
    font-size: 22px;
    overflow: hidden;
    display: block;
    text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 0px rgba(168, 116, 116, 0.8);
  -moz-box-shadow: 0px 6px 0px rgba(187, 141, 141, 0.8);
  box-shadow: 6px 8px 6px rgb(104 75 21 / 80%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
