.audiocall__game {
  width: 1000px;
  margin: auto;
}

.game__process {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #f5a329;
  border-radius: 50px;
  padding: 30px 100px;
}

.process__score {
  display: flex;
  justify-content: right;
  width: 100%;
}

.score {
  display: inline-block;
  font-size: 30px;
  color: white;
}

.process__bonus,
.process__status {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bonus__score,
.status__error {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid black;
}

.fill_backgroud_bonus {
  background-color: green;
}

.fill_backgroud {
  background-color: red;
}

.process__audio {
  width: 100%;
  display: flex;
  justify-content: center;
}

.audio__sound {
  display: inline-block;
  width: 100px;
  height: 75px;
  background-image: url('../../../public/assets/audiocall/megafon.png');
  background-size: cover;
}

.process_versions {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.button_version {
  width: 100px;
  height: 50px;
}

.audiocall__result_game {
  width: 400px;
  margin: auto;
}

.result_game__result {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.result__table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #f5a329;
  padding: 10px;
  border-radius: 10px;

  .table__row {
    padding: 5px;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 25px 1fr 1fr 1fr;
  }
}

.result__set_buttons .button {
  width: 150px;
  height: 50px;
}