header {
width: 100%;
height: 15%;
margin-bottom: 2%;
}

.header-wrapper {
 width: 90%;
 display: flex;
 margin: auto;
 margin-bottom: 2%;
 margin-top: 1%;
 align-items: center;
}

.logo {
    width: 6%;
   margin-right: 5%;
}

.header-wrapper img {
    width: 100%;
    cursor: pointer;
}

.header-wrapper img {
    transition: 1.7s;
}

.header-wrapper img:hover {
    transform: scale(1.1);
}

.navigation-wrapper {
   display: flex;
    margin: auto;
    width: 80%;
}

.navigation-wrapper a {
    margin-right: 4%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: cursive;
  background: #f5a329;
  text-shadow: 0px 2px 0px rgb(209 151 51 / 30%);
  font-size: 1.6rem;

  height: 43px;
  width: 248px;
  overflow: hidden;
  display: block;
  text-align: center;
  line-height: 45px;
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0px 6px 0px rgba(168, 116, 116, 0.8);
-moz-box-shadow: 0px 6px 0px rgba(187, 141, 141, 0.8);
box-shadow: 6px 8px 6px rgb(104 75 21 / 80%);
background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.navigation-wrapper a:hover {
   -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
   -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
     background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
     background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
     background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
   }

.navigation-wrapper a:active {
color: rgb(66, 36, 23);
}

.active-link {
    color: black !important;
    background-color: rgb(163 104 15) !important;
}

.enter-wrapper button {
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    color: white;
    letter-spacing: 3px;
    font-family: cursive;
    background: #f5a329;
  text-shadow: 0px 2px 0px rgb(209 151 51 / 30%);
    height: 43px;
    width: 200px;
  
  overflow: hidden;
  display: block;
  text-align: center;
  line-height: 48px;
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0px 6px 0px rgba(168, 116, 116, 0.8);
-moz-box-shadow: 0px 6px 0px rgba(187, 141, 141, 0.8);
box-shadow: 6px 8px 6px rgb(104 75 21 / 80%);
background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.enter-wrapper button:hover {
   
   -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
   -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
     background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
     background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
     background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.enter-wrapper button:active {
    color: rgb(66, 36, 23);
    }

    

@media(max-width: 1600px) {
        
    .navigation-wrapper a {
       letter-spacing: 1px;
       height: 48px;
       line-height: 43px;
       font-size: 1.5rem;
       width: 210px;
    }

    .header-wrapper a {
        margin-right: 2%;
        height: 40px;
    }

    .navigation-wrapper {
        width: 70%;

    }

    .enter-wrapper button {
        width: 150px;
        height: 40px;
        line-height: 43px;
        font-size: 1.5rem;
    }
} 

@media (max-width: 1420px) {
    .navigation-wrapper {
        width: 70%;
    }

    .enter-wrapper button {
        width: 126px;
        line-height: 40px;
        font-size: 1.4rem;
    }

    .navigation-wrapper a {
        width: 192px;
        font-size: 1.4rem;
    }

}

@media (max-width: 1280px) {
   
    .navigation-wrapper {
        width: 78%;
    }

    .enter-wrapper button {
        width: 130px;
        height: 35px;
        font-size: 1.4rem;
        line-height: 37px;
    }

    .navigation-wrapper a {
         width: 175px;
         height: 35px;
        font-size: 1.4rem;
        line-height: 35px;
    }
     
}
    
@media (max-width: 1200px)  {
    .navigation-wrapper {
        width: 82%;
    }

    .navigation-wrapper a {
        font-size: 1.3rem;
        width: 146px;
    }
    
    .enter-wrapper button {
        width: 115px;
        height: 37px;
        font-size: 1.3rem;
        line-height: 0px;
    }
}

@media (max-width: 1000px) {
    .navigation-wrapper {
        width: 86%;
    }

    .navigation-wrapper a {
       height: 34px;
       font-size: 1.2rem;
       line-height: 35px;
       width: 127px;
    }

    .enter-wrapper button {
        width: 113px;
        height: 34px; 
        font-size: 1.2rem;
    }
}


@media(max-width: 895px) {
    .enter-wrapper button {
        width: 106px;
        height: 29px;
        font-size: 1.1rem;
    }

    .navigation-wrapper {
        width: 92%;
    }

    .navigation-wrapper {
        width: 92%;
    }
    
    .navigation-wrapper a {
        width: 106px;
        height: 31px;
        line-height: 32px;
        font-size: 1.1rem;
    }

    .logo {
        width: 9%;
    }
}

@media(max-width: 768px) {
    .navigation-wrapper a {
        margin: auto;
        margin-top: 10%;
        width: 185px;
        font-size: 2rem;
        height: 40px;
}
  
}

@media(max-width: 720px) {
.enter-wrapper button {
    width: 100px;
    font-size: 0.9rem;
}
}

@media(max-width: 440px) {
    .logo {
        width: 12%;
    }

    .enter-wrapper button {
        font-size: 1rem;
        height: 26px;
}

.navigation-wrapper a {
    margin-top: 13%;
    width: 196px;
    font-size: 1.9rem;
    height: 40px;
}
}


@media(max-width:300px) {
    .logo {
        width: 15%;
    }
}

@media(max-width: 311px) {
    .navigation-wrapper a {
        margin-top: 27%;
        width: 192px;
        font-size: 1.7rem;
        height: 40px;
    }

    .logo {
        width: 15%;
    }
}


   